[AMQP]

# Host information
# scheme://username:password@host:port/vhost
url = "amqps://amqpusername:amqppassword@amqp.exapmle.com:5671/vhost"

exchange = 'gracc.osg.requests'
queue = 'gracc.osg.requests'

[ElasticSearch]
uri = 'http://localhost:9200'
raw_index = 'gracc.osg.raw-*'
raw_type = 'JobUsageRecord'
transfer_type = 'Storage'
transfer_index = 'gracc.osg-transfer.raw-*'

[[Corrections]]
index = 'gracc.corrections'
doc_type = 'vo'
match_fields = ['VOName','ReportableVOName']
source_field = 'CorrectedVOName'
dest_field = 'VOName'

[[Corrections]]
index = 'gracc.corrections'
doc_type = 'project'
match_fields = ['ProjectName']
source_field = 'CorrectedProjectName'
dest_field = 'ProjectName'
